/* * {
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: black;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 70px;
}

.left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.right {
    display: flex;
    gap: 15px;
}

img {
    height: 50px;
    width: 150px;
}

a {
    color: white;
    font-weight: bold;
    text-decoration: none;
} 

.flotar {
    float: right;
} */

body {
    height: 50px;
    width: 100%;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  #nav img {
    height: 50px;
    width: 150px;
}
  
.nav-left, .nav-right {
    display: flex;
    align-items: center;
}
  
.nav-right {
    gap: 10px; 
    margin-top: 5px;
}

a {
    color: white;
    font-weight: bold;
    text-decoration: none;
} 
  
br{
    color: white;
    background-color: aliceblue;
    display: block;
}