<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10">
      <form (ngSubmit)="searchMovies()">
        <div class="input-group">
          <input
            type="text"
            [(ngModel)]="searchTerm"
            name="searchTerm"
            placeholder="Buscar película o serie..."
            class="form-control bg-dark text-white border-secondary"
          >
          <button type="submit" class="btn btn-primary custom-violet">Buscar</button>
        </div>
      </form>
    </div>
  </div>
</div>
