

<div class="media">
  <div class="search-container">
    <input type="text" [(ngModel)]="searchTerm" placeholder="Buscar película o serie..." class="search-input">
    <button class="btn btn-primary search-button" (click)="searchMovies()">Buscar</button>
  </div>

  <div *ngIf="results.length > 0" class="search-results">
    <div *ngFor="let result of results" class="d-flex align-items-center border p-2">
      <img *ngIf="result.poster_path && result.overview" [src]="'https://image.tmdb.org/t/p/w200' + result.poster_path" alt="{{ result.title || result.name }}" class="align-self-start mr-3">
        <div class="media-body">
          <h5 class="mt-0">{{result.title || result.name}}</h5>
          <p *ngIf="result.overview">{{result.overview}}</p>
        </div>
    </div>
  </div>
</div>