<app-header></app-header>
<app-searchbox></app-searchbox>
<app-favorites-movies *ngIf="estaLogueado"></app-favorites-movies>
<app-watched-movies *ngIf="estaLogueado"></app-watched-movies>

<div class="contain mt-3 mb-5 p-4 fondo">   
    
    
    <div class="row">
        <h5 class="text-white">Peliculas de Comedia</h5>
        <div class="row-container">
            <button class="btn btn-dark scroll-button left" (click)="scrollLeft('comedy')">&lt;</button>
            <div class="rowposter mt-3 p-2" id="comedy">
                <ng-container *ngFor="let pelicula of comedyMoviesResults">
                    <img src="https://image.tmdb.org/t/p/original/{{ pelicula.poster_path }}" alt="" class="rowimg largeposter"
                    [routerLink]="['/details', pelicula.id]">
                </ng-container>
            </div>
            <button class="btn btn-dark scroll-button right" (click)="scrollRight('comedy')">&gt;</button>
        </div> 
    </div>

    <div class="row">
        <h5 class="text-white">Peliculas de Fantasia</h5>
        <div class="row-container">
            <button class="btn btn-dark scroll-button left" (click)="scrollLeft('fantasy')">&lt;</button>
            <div class="rowposter mt-3 p-2" id="fantasy">
                <ng-container *ngFor="let pelicula of fantasyMoviesResults">
                    <img src="https://image.tmdb.org/t/p/original/{{ pelicula.poster_path }}" alt="" class="rowimg largeposter"
                    [routerLink]="['/details', pelicula.id]">
                </ng-container>
            </div>
            <button class="btn btn-dark scroll-button right" (click)="scrollRight('fantasy')">&gt;</button>
        </div>
    </div>

    <div class="row">
        <h5 class="text-white">Peliculas de Drama</h5>
        <div class="row-container">
            <button class="btn btn-dark scroll-button left" (click)="scrollLeft('drama')">&lt;</button>
            <div class="rowposter mt-3 p-2" id="drama">
                <ng-container *ngFor="let pelicula of dramaMoviesResults">
                    <img src="https://image.tmdb.org/t/p/original/{{ pelicula.poster_path }}" alt="" class="rowimg largeposter"
                    [routerLink]="['/details', pelicula.id]">
                </ng-container>
            </div>
            <button class="btn btn-dark scroll-button right" (click)="scrollRight('drama')">&gt;</button>
        </div>
    </div>

    <div class="row">
        <h5 class="text-white">Peliculas de Misterio</h5>
        <div class="row-container">
            <button class="btn btn-dark scroll-button left" (click)="scrollLeft('mistery')">&lt;</button>
            <div class="rowposter mt-3 p-2" id="mistery">
                <ng-container *ngFor="let pelicula of misteryMoviesResults">
                    <img src="https://image.tmdb.org/t/p/original/{{ pelicula.poster_path }}" alt="" class="rowimg largeposter"
                    [routerLink]="['/details', pelicula.id]">
                </ng-container>
            </div>
            <button class="btn btn-dark scroll-button right" (click)="scrollRight('mistery')">&gt;</button>
        </div>
    </div>

    <div class="row">
        <h5 class="text-white">Documentales</h5>
        <div class="row-container">
            <button class="btn btn-dark scroll-button left" (click)="scrollLeft('documentals')">&lt;</button>
            <div class="rowposter mt-3 p-2" id="documentals">
                <ng-container *ngFor="let pelicula of documentalMoviesResults">
                    <img src="https://image.tmdb.org/t/p/original/{{ pelicula.poster_path }}" alt="" class="rowimg largeposter"
                    [routerLink]="['/details', pelicula.id]">
                </ng-container>
            </div>
            <button class="btn btn-dark scroll-button right" (click)="scrollRight('documentals')">&gt;</button>
        </div>
    </div>
    

    <div class="row">
        <h5 class="text-white">Peliculas de Suspenso</h5>
        <div class="row-container">
            <button class="btn btn-dark scroll-button left" (click)="scrollLeft('suspense')">&lt;</button>
            <div class="rowposter mt-3 p-2" id="suspense">
                <ng-container *ngFor="let pelicula of suspensoMoviesResults">
                    <img src="https://image.tmdb.org/t/p/original/{{ pelicula.poster_path }}" alt="" class="rowimg largeposter"
                    [routerLink]="['/details', pelicula.id]">
                </ng-container>
            </div>
            <button class="btn btn-dark scroll-button right" (click)="scrollRight('suspense')">&gt;</button>
        </div>
    </div>

    <div class="row">
        <h5 class="text-white">Peliculas de Crimenes</h5>
        <div class="row-container">
            <button class="btn btn-dark scroll-button left" (click)="scrollLeft('crime')">&lt;</button>
            <div class="rowposter mt-3 p-2" id="crime">
                <ng-container *ngFor="let pelicula of crimenMoviesResults">
                    <img src="https://image.tmdb.org/t/p/original/{{ pelicula.poster_path }}" alt="" class="rowimg largeposter"
                    [routerLink]="['/details', pelicula.id]">
                </ng-container>
            </div>
            <button class="btn btn-dark scroll-button right" (click)="scrollRight('crime')">&gt;</button>
        </div>
    </div>

    <div class="row">
        <h5 class="text-white">Peliculas de Ciencia Ficcion</h5>
        <div class="row-container">
            <button class="btn btn-dark scroll-button left" (click)="scrollLeft('sci-fi')">&lt;</button>
            <div class="rowposter mt-3 p-2" id="sci-fi">
                <ng-container *ngFor="let pelicula of cienciaFiccionMoviesResults">
                    <img src="https://image.tmdb.org/t/p/original/{{ pelicula.poster_path }}" alt="" class="rowimg largeposter"
                    [routerLink]="['/details', pelicula.id]">
                </ng-container>
            </div>
            <button class="btn btn-dark scroll-button right" (click)="scrollRight('sci-fi')">&gt;</button>
        </div>
    </div>

    <div class="row">
        <h5 class="text-white">Peliculas de Acción</h5>
        <div class="row-container">
            <button class="btn btn-dark scroll-button left" (click)="scrollLeft('action')">&lt;</button>
            <div class="rowposter mt-3 p-2" id="action">
                <ng-container *ngFor="let pelicula of actionMoviesResults">
                    <img src="https://image.tmdb.org/t/p/original/{{ pelicula.poster_path }}" alt="" class="rowimg largeposter"
                    [routerLink]="['/details', pelicula.id]">
                </ng-container>
            </div>
            <button class="btn btn-dark scroll-button right" (click)="scrollRight('action')">&gt;</button>
        </div>
    </div>
    
</div>


