<app-header></app-header>
<app-searchbox></app-searchbox>
<app-favorites-movies *ngIf="estaLogueado"></app-favorites-movies>
<app-watched-movies *ngIf="estaLogueado"></app-watched-movies>

<div class="contain mt-3 mb-5 p-4 fondo">   
    
    
    <div class="row">
        <h5 class="text-white">Peliculas de Comedia</h5>
        <div class="rowposter mt-3 p-2">
            <ng-container *ngFor="let pelicula of comedyMoviesResults">
                <img src="https://image.tmdb.org/t/p/original/{{ pelicula.poster_path }}" alt="" class="rowimg largeposter"
                [routerLink]="['/details', pelicula.id]">
            </ng-container>
        </div>
    </div>

    <div class="row">
        <h5 class="text-white">Peliculas de Fantasia</h5>
        <div class="rowposter mt-3 p-2">
            <ng-container *ngFor="let pelicula of fantasyMoviesResults">
                <img src="https://image.tmdb.org/t/p/original/{{ pelicula.poster_path }}" alt="" class="rowimg largeposter"
                [routerLink]="['/details', pelicula.id]">
            </ng-container>
        </div>
    </div>

    <div class="row">
        <h5 class="text-white">Peliculas de Drama</h5>
        <div class="rowposter mt-3 p-2">
            <ng-container *ngFor="let pelicula of dramaMoviesResults">
                <img src="https://image.tmdb.org/t/p/original/{{ pelicula.poster_path }}" alt="" class="rowimg largeposter"
                [routerLink]="['/details', pelicula.id]">
            </ng-container>
        </div>
    </div>

    <div class="row">
        <h5 class="text-white">Peliculas de Misterio</h5>
        <div class="rowposter mt-3 p-2">
            <ng-container *ngFor="let pelicula of misteryMoviesResults">
                <img src="https://image.tmdb.org/t/p/original/{{ pelicula.poster_path }}" alt="" class="rowimg largeposter"
                [routerLink]="['/details', pelicula.id]">
            </ng-container>
        </div>
    </div>

    <div class="row">
        <h5 class="text-white">Documentales</h5>
        <div class="rowposter mt-3 p-2">
            <ng-container *ngFor="let pelicula of documentalMoviesResults">
                <img src="https://image.tmdb.org/t/p/original/{{ pelicula.poster_path }}" alt="" class="rowimg largeposter"
                [routerLink]="['/details', pelicula.id]">
            </ng-container>
        </div>
    </div>
    

    <div class="row">
        <h5 class="text-white">Peliculas de Suspenso</h5>
        <div class="rowposter mt-3 p-2">
            <ng-container *ngFor="let pelicula of suspensoMoviesResults">
                <img src="https://image.tmdb.org/t/p/original/{{ pelicula.poster_path }}" alt="" class="rowimg largeposter"
                [routerLink]="['/details', pelicula.id]">
            </ng-container>
        </div>
    </div>

    <div class="row">
        <h5 class="text-white">Peliculas de Crimenes</h5>
        <div class="rowposter mt-3 p-2">
            <ng-container *ngFor="let pelicula of crimenMoviesResults">
                <img src="https://image.tmdb.org/t/p/original/{{ pelicula.poster_path }}" alt="" class="rowimg largeposter"
                [routerLink]="['/details', pelicula.id]">
            </ng-container>
        </div>
    </div>

    <div class="row">
        <h5 class="text-white">Peliculas de Ciencia Ficcion</h5>
        <div class="rowposter mt-3 p-2">
            <ng-container *ngFor="let pelicula of cienciaFiccionMoviesResults">
                <img src="https://image.tmdb.org/t/p/original/{{ pelicula.poster_path }}" alt="" class="rowimg largeposter"
                [routerLink]="['/details', pelicula.id]">
            </ng-container>
        </div>
    </div>

    <div class="row">
        <h5 class="text-white">Peliculas de Acción</h5>
        <div class="rowposter mt-3 p-2">
            <ng-container *ngFor="let pelicula of actionMoviesResults">
                <img src="https://image.tmdb.org/t/p/original/{{ pelicula.poster_path }}" alt="" class="rowimg largeposter"
                [routerLink]="['/details', pelicula.id]">
            </ng-container>
        </div>
    </div>
</div>


