/*mostrar horizontal*/ 
.rowposter{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    scroll-behavior: smooth;
    transition: transform 0.2s ease-in-out;
} 

.rowposter.wobble {
    transform: scale(1.02); /* Pequeño zoom para simular movimiento */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2); /* Sombras para el efecto dinámico */
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}


/*definicion del efecto al pasar curs*/
.rowimg
{
    max-height: 100px;
    object-fit:fill;
    width: 100%;
    box-sizing: content-box;
    transition: transform 20ms;
    margin-right: 10px;
} 

/*activa efecti al pasar cursor por encima*/
.rowimg:hover
{
    transform: scale(1.10);
    cursor: pointer;
} 

/* tamaño imagen */
.largeposter{
    max-height: 270px;
}

/*ocultar barra scroll*/
 .rowposter::-webkit-scrollbar
{
    display: none;
} 

.row-container {
    position: relative;
    display: flex;
    align-items: center;
}

.scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
    transition: opacity 0.2s;
}

.scroll-button:hover {
    opacity: 1;
}

.scroll-button.left {
    left: 0;
}

.scroll-button.right {
    right: 0;
}

