/*muestra horizontal*/ 
.rowposter{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
} 

/* definicion del efecto al pasar curs*/
.rowimg
{
    max-height: 100px;
    object-fit:fill;
    width: 100%;
    box-sizing: content-box;
    transition: transform 100ms;
    margin-right: 10px;
} 

/*activa efecti al pasar cursor por encima*/
.rowimg:hover
{
    transform: scale(1.09);
    cursor: pointer;
} 

/* tamaño imagen */
.largeposter{
    max-height: 300px;
}

/*ocultar barra scroll*/
 .rowposter::-webkit-scrollbar
{
    display: none;
} 

