
body {
    background: linear-gradient(135deg, #000000, #180033); 
    background-attachment: fixed; 
    background-size: cover; /* Asegura que el gradiente cubra toda la pantalla */

    /*     
    background-attachment: fixed;
    margin: 0;
    font-family: Arial, sans-serif; */
  }


body, html {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  

  